<main class="container main-404">
  <div class="row align-items-center">
    <div class="col-md-6 text-center">
      <h1 class="m-0 display-3">¡Recurso no encontrado!</h1>
      <hr class="bg-primary">
    </div>
    <div class="col-12 col-md-6 text-center">
      <figure>
        <img class="img-fluid" src="./img/404.svg" alt="404 image for handdler">
      </figure>
      <a class="btn btn-primary" href="/">Ir a un lugar seguro</a>
    </div>
  </div>
</main>