<header style="background-color: #244e82;">
  <div class="container">
    <div class="cintillo">
      <img src="/img/cintilloMPPE.png" alt="Cintillo Ministerio">
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <img class="img-circle" src="/img/brand.jpg" width="80" height="80" alt="">
      <h1 class="h4 m-y ml-2">Centro de Educacion Inicial "Ciudad de Carupano"</h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link h5 m-0" href="/login/">Acceder</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 text-center mb-3">
        <h1>Sistema de Control de Asistencias</h1>
        <p class="h5 text-secondary mb-5">Gestion y Control de Asistencias con un solo click <i
            class="fas fa-mouse-pointer"></i>
        </p>
        <a class="btn btn-primary" href="/login/">¡Inicia Sesión Aqui! <i class="fas fa-tv"></i></a>
      </div>
      <div class="col-12 col-md-8 mb-3">
        <div id="carouselExampleControls" class="carousel slide rounded o-hidden" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/img/item1.jpg" class="d-block w-100" alt="Item1">
            </div>
            <div class="carousel-item">
              <img src="/img/item2.jpg" class="d-block w-100" alt="Item2">
            </div>
            <div class="carousel-item">
              <img src="/img/item3.jpg" class="d-block w-100" alt="Item3">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
</main>
<section>
  <div class="container-fluid p-5 bg-dark">
    <div class="row align-items-center ">
      <div class="col-md-6 mb-3 text-light">
        <p>
          Este centro de Educación Inicial dio sus primeros pasos alrededor del año 1940, llamándose Kínder Garden, en él se atendían un grupo minoritario de niños y niñas entre los cuatro y cinco años de edad y debido que no hubo matrícula fue cerrado temporalmente. Para el año 1958, fue reabierto contando con una matrícula de 65 estudiantes y en 1985, debido al aumento de matrícula fue creada una tercera aula.
        </p>
        <p>
          El 7 de enero de 1986, son trasladadas las aulas de preescolar para dichas instalaciones siendo inaugurado finalmente el 18 de Enero con 2 aulas Nacionales y una Estadal, desde ese momento su crecimiento es notorio debido a que gracias a las políticas gubernamentales, el Ministerio de Educación de la Dirección de Educación y de la Alcaldía del Municipio este centro ha sido seleccionado para participar en el proyecto simoncito, que aspira cubrir las necesidades integrales de los niños y niñas desde su gestación hasta los seis años de edad.
        </p>
      </div>
      <div class="col-md-6 mb-3 text-center text-light">
        <h2 class="text-center display-4">Historia <i class="fas fa-book"></i></h2>
      </div>
    </div>
  </div>
  <div class="container-fluid p-5 bg-secondary mb-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <h2 class="text-center display-4">Ubicacion <i class="fas fa-map-marker-alt"></i></h2>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7903.309988572966!2d-72.2498703777523!3d7.931055027148173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e66661379052613%3A0x22d2e1de583a7c95!2sLobatera%205036%2C%20T%C3%A1chira!5e0!3m2!1ses!2sve!4v1605231084340!5m2!1ses!2sve" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
</section>