/* body {
  height: 100vh;
} */
.cintillo {
  background: #244e82;
  width: 100%;
}

.cintillo img {
  width: 100%;
  max-height: 60px;
  vertical-align: top;
  object-fit: cover;
}

.carousel-item {
  height: 400px;
  max-height: 400px;
}

.o-hidden {
  overflow: hidden;
}

.main-404 {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.vh-100 {
  min-height: 100vh;
}

.display-4 {
  font-size: 3.75rem;
}

.img-circle {
  border-radius: 100%;
}

.h-brand-login {
  min-height: 200px;
}

.bg-logo {
  background-image: url(/img/brand.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center center;
}

.bg-alfa {
  background-color: rgba(255, 255, 255, 0.93);
}
