{{> nav }}
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-center border-0">
          <h2 class="text-light mb-0 ">Agrega una Nueva Jornada</h2>
        </div>
        <div class="card-body">

          {{> alert }}
          <form action="/jornadas/agregar/" method="POST">
            <div class="form-group">
              <label for="day">Dia del Mes</label>
              <input minlength="1" maxlength="2" required autocomplete="off" autofocus class="form-control" type="text"
                name="day" id="day">
            </div>
            <div class="form-group">
              <label for="month">Mes</label>
              <select required class="form-control" name="month" id="month">
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Año</label>
              <input minlength="4" maxlength="4" required autocomplete="off" autofocus class="form-control" type="text"
                name="year" id="year">
            </div>
            <div class="form-group">
              <input type="submit" value="Agregar Jornada" class="btn btn-small btn-primary btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>