<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <span class="h4 mb-0 text-dark mr-3">Control de Asistencias <i class="fas fa-users"></i></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {{#if user}}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Asistencias
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/asistencias/entrada/">Registrar Entrada</a>
          <a class="dropdown-item" href="/asistencias/">Asistencias</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Jornadas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/jornadas/">Lista de Jornadas</a>
          <a class="dropdown-item" href="/jornadas/agregar/">Nueva Jornada</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Personal
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/personal/">Lista de Personal</a>
          <a class="dropdown-item" href="/personal/agregar/">Registrar Personal</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cargos Admnistrativos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cargos/">Lista de Cargos</a>
          <a class="dropdown-item" href="/cargos/agregar/">Registrar Cargo</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/usuarios/">Usuarios</a>
          <a class="dropdown-item" href="/usuarios/agregar/">Registrar Usuario</a>
        </div>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/auth/logout/">
          Logout
        </a>

      </li>
    </ul>
    {{/if}}
  </div>
</nav>